<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Attendence_System.Properties.Settings.AttendenceDBConnectionString"
            connectionString="Data Source=DESKTOP-QPLTNNK\HRIDOY;Initial Catalog=AttendenceDB;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Attendence_System.Properties.Settings.AttendenceDBConnectionString1"
            connectionString="Data Source=DESKTOP-QPLTNNK\HRIDOY;Initial Catalog=AttendenceDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>